<footer class="footer">
  <div class="container text-center">
      <a href="https://web.facebook.com/neli.kancheva" target="blank"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="skype:neli_kancheva68?userinfo"><i class="fa fa-skype"></i></a>
  </div>
</footer>