<head>
    <title>Математиката</title>
    <meta charset="utf-8" />
    <base href="/" />

    <link rel="icon" href="res/images/favicon.ico">

    <!--scripts-->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/toastr/build/toastr.min.js"></script>

    <!-- styles-->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="node_modules/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <% if(dev){ %>
      <link href="res/styles/mobile-nav.css" rel="stylesheet" type="text/css" />
      <link href="res/styles/nav-styles.css" rel="stylesheet" type="text/css" />
      <link href="res/styles/style.css" rel="stylesheet" type="text/css" />
      <link href="res/styles/css-loader.css" rel="stylesheet" />
    <% } else{ %>  
           <link href="dist/styles/style.min.css" rel="stylesheet" />
    <% } %>
</head>

