<header id="header">
  <div class="container nav-container">
      <div class="web-nav-container">

          <div class="navbar-header">
              <a href="/" class="logo-image">
                  <img src="res/images/logo.png" alt="logo" width="59" height="68" <% if (typeof(pageId) !== typeof(undefined) && pageId === 'index') { %>class="active-logo" <% } %> />
              </a>
          </div>

          <nav class="navigation">
              <ul class="menu">
                  <li  <% if (typeof(pageId) !== typeof(undefined) && pageId === 'lessons') { %>class="active-menu-item" <% } %> >
                      <a href="/chastni-uroci-po-matematika" >Уроци</a>
                  </li>
                  <li <% if (typeof(pageId) !== typeof(undefined) && pageId === 'booking') { %>class="active-menu-item" <% } %> >
                    <a href="/zapazi-chas-za-urok-po-matematika">Запази час</a>
                  </li>
                  <li <% if (typeof(pageId) !== typeof(undefined) && pageId === 'prices') { %>class="active-menu-item" <% } %>>
                      <a href="/chastni-uroci-po-matematika-ceni" >Цени</a>
                        <ul class="submenu">
                          <li><a href="/chastni-uroci-po-matematika/5">Индивидуални</a></li>
                          <li><a href="/chastni-uroci-po-matematika/6">Групови</a></li>
                          <li><a href="/chastni-uroci-po-matematika/7">Пакети</a></li>
                          <li><a href="/chastni-uroci-po-matematika/7">Промоции</a></li>
                      </ul>
                  </li>
                  <li <% if (typeof(pageId) !== typeof(undefined) && pageId === 'teacher') { %>class="active-menu-item" <% } %> >
                      <a href="/chastni-uroci-po-matematika/za-uchitelq" >За учителя</a>
                  </li>
              </ul>
          </nav>
      </div>

      <div class="mobile-nav">
          <input type="checkbox" id="toggle-left">

          <div class="page-wrap">
              <header>
                  <div class="top-bar">
                      <label for="toggle-left" class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></label>
                  </div>
                  <div class="middle-line"></div>
                  <div class="bottom-bar"></div>
              </header>

              <nav class="menu">
                  <ul class="menu-mobile">
                      <li <% if (typeof(pageId) !== typeof(undefined) && pageId === 'lessons') { %>class="active-menu-item" <% } %>>
                          <a href="/chastni-uroci-po-matematika">Уроци</a>
                      </li>
                      <li <% if (typeof(pageId) !== typeof(undefined) && pageId === 'booking') { %>class="active-menu-item" <% } %>>
                        <a href="/zapazi-chas-za-urok-po-matematika">Запази час</a>
                      </li>
                      <li  <% if (typeof(pageId) !== typeof(undefined) && pageId === 'prices') { %>class="active-menu-item" <% } %>>
                          <a href="/chastni-uroci-po-matematika-ceni">Цени</a>
                      </li>
                      <li <% if (typeof(pageId) !== typeof(undefined) && pageId === 'teacher') { %>class="active-menu-item" <% } %>>
                          <a href="/chastni-uroci-po-matematika/za-uchitelq">За учителя</a>
                      </li>
                  </ul>
              </nav>
          </div>

      </div>
  </div>
</header>