<!DOCTYPE html>
<html>
  <%- include head %>
<body>

  <%- include header %>

    <div class="background"></div>

    <div id="spacing-el"></div>

    <div class="container">
       <%- body -%>
    </div>

    <div id="cookie-consent-container" class="cookie-consent collapse in hidden">
        <span class="cookie-consent-message">
            Използваме бисквитки, за да Ви предоставим по-добро използване на сайта и релевантно съдържание.
        </span>

        <button id="cookie-consent-ok" href="#cookie-consent-container" class="cookie-consent-agree btn btn-primary" data-toggle="collapse">
            Разбирам
        </button>
    </div>

  <%- include footer %>

</body>
</html>