h1 {
    margin: 0;
    padding: 0;
}

.center-div {
    display: block;
    margin: 0 auto;
}

.background {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/background.jpg);
    opacity: 0.05;
    z-index: -1;
    background-repeat: repeat;
    position: fixed;
    min-height: 100%;
}

.nav-container {
    padding-left: 75px;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100%;
    padding: 40px 40px 0 40px;
}

.navbar-header {
    padding-top: 3px;
    padding-right: 20px;
}

.mobile-nav {
    display: none;
}

.active-logo {
    box-shadow: 0 0 60px gold, 0 0 105px gold;
    background-color: rgba(255, 215, 0, 0.57);
}

.margin-top-10 {
    margin-top: 10;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-right-10 {
    margin-right: 10px;
}

#spacing-el {
    margin-bottom: 40px;
}

#booking-title {
    left: -18px;
    position: relative;
}

.error {
    color: red;
    font-weight: bold;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

#myCarousel {
    max-width: 800px;
    margin: 0 auto;
    left: -31px;
}

.carousel-indicators li {
    background-color: darkgoldenrod;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 100px black, 0 0 105px black;
}

.green {
    color: green;
}

.steelblue {
    color: steelblue;
}

.text-align-center {
    text-align: center;
}

.cookie-consent {
    background-color: #fff;
    width: 300px;
    float: right;
    position: absolute;
    bottom: 40px;
    right: 0;
    margin: 10px 10px;
    padding: 10px 10px 20px 10px;
    transition: all 1s ease-out;
    line-height: 1.3em;
    font-size: 14px;
    box-shadow: 0px 0px 3px 0px;
    text-align: center;
    z-index: 100;
}

.cookie-consent-agree {
    border-radius: 0px;
    color: rgb(68, 68, 68);
    background-color: rgb(252, 222, 89);
    border-color: rgb(234, 200, 50);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.footer {
    background: #282828;
    padding: 10px 0;
    position: fixed;
    bottom: 0px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

@media only screen and (max-width: 993px) {
    .navigation {
        display: none;
    }
    .navbar-header img {
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .mobile-nav {
        display: inline;
    }
    #spacing-el {
        margin-bottom: 124px;
    }
    #myCarousel {
        left: 0;
    }
}

@media only screen and (max-width: 300px) {
    .navbar-header img {
        width: 40px;
        height: 50px;
    }
}