<% layout('shared/layout') -%>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well text-align-center">
    <h2 class="steelblue">Съжаляваме, но вече имате запазен час</h2>
    <h2 class="steelblue margin-bottom-30">Ще можете да запазите следващ <br /> най-рано след <%= remainingTime.hrs %> часа и <%= remainingTime.mins %> минути</h2>
    <div class="control-group"> 
      <a href="/" class="btn btn-lg btn-success margin-top-10">Ок</a>
    </div>
  </div>
</div>