<% layout('shared/layout') -%>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
  <h1>Уроци</h1>
    <p>
      Подходящият урок по математика трябва да бъде пригоден към всеки ученик индивидуално, към неговите лични познания и способности , за да може да напредва възможно най-бързо като полага сравнително по-малко усилия.<br />
      Ако сте пропуснали материал или познанията ви не са на досатъчно добро ниво и математиката ви притеснява, вие лесно и бързо можете да наваксате пропуснатото чрез уроци по математика. <br />
      Успешното овладяване на учебния материал и отличните оценки няма да закъснеят. Скоро ще забравите, че някога математиката е била проблем за вас, защото тя може да бъде лесен предмет, ако е ясно обяснена. <br />
      Ако сте отличници, математиката ви е страст и желаете да станете още по-добри като научите повече, то тези уроци по математика ще ви осигурят бърз и качествен напредък. <br />
      Задълбоченото и усвояване ви гарантира не само отлични оценки, но в по-далечна перспектива ви отваря вратите на всички учебни заведения, в които се кандидатства с математика. <br />  
      Ефективното обучение и отличната подготовка, които могат да бъдат осъществени чрез уроците са ключ към успеха.
    </p>
  </div>
</div>