<% layout('shared/layout') -%>

<div class="row row-centered">

  <div class="col-lg-3 col-centered">
    <div class="thumbnail">
      <img src="res/images/individual.png" />
        <div class="caption">
          <h4><strong>Индивидуални занимания по математика</strong></h4>
          <p>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
          </p>
          <p><a href="/chastni-uroci-po-matematika-ceni/individualni-zanimaniq" class="btn btn-primary">Научете повече</a></p>
        </div>
    </div>
  </div>

  <div class="col-lg-3 col-centered">
    <div class="thumbnail">
      <img src="res/images/group.png" />
        <div class="caption">
          <h4><strong>Групови занимания по математика</strong></h4>
          <p>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
          </p>
          <p><a href="/chastni-uroci-po-matematika-ceni/grupovi-zanimaniq" class="btn btn-primary">Научете повече</a></p>
        </div>
    </div>
  </div>

    <div class="col-lg-3 col-centered">
    <div class="thumbnail">
      <img src="res/images/combined.png" />
        <div class="caption">
         <h4><strong>Пакетни цени и абонаменти</strong></h4>
          <p>
            Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
          </p>
          <p><a href="/chastni-uroci-po-matematika-ceni/abonamenti" class="btn btn-primary">Научете повече</a></p>
        </div>
    </div>
  </div>

</div>