<% layout('shared/layout') -%>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 well text-align-center">
    <h2 class="green">Благодарим ви, часът ви беше запазен успешно!</h2>
    <h2 class="green margin-bottom-30">Очаквайте телефонно обаждане за потвърждение</h2>
    <div class="control-group"> 
      <a href="/" class="btn btn-lg btn-success margin-top-10">Ок</a>
    </div>
  </div>
</div>