<% layout('shared/layout') -%>


<div class="row">
  <div class="col-lg-2 col-lg-offset-2">
    <img id="teacher-avatar" src="res/images/uchitel-matematika-avatar.jpg" width="220" height="260" class="img-responsive"/>
  </div> 
  <div class="col-lg-5" >
    <p>
      Здравейте уважаеми ученици и родители! <br />
      Казвам се Нели Канчева и съм действащ учител по математика в Софийско училище, намиращо се в центъра на града. <br />
      Имам 18 години опит като учител по математика и физика и винаги ми е доставяло удоволствие да решавам задачи. <br />
      Опитът ми е показал, че всеки един ученик е уникален и най-добрият подход с цел постигане на отлични резултати е индивидуалният.  <br />
      Целта ми е да помогна на учениците, които имат пропуски в знанията си по математика и на тези, които участват в  <br />
      ежегодни математически състезания.  <br />
      Математиката не е сложна наука и вярвам, че всичко опира до начина, по който тя 
      бива обяснявана и от подхода на учителя към съответния ученик.
    </p>
  </div>
</div>