<% layout('shared/layout') -%>


<div class="row">
  <div class="col-lg-3 col-lg-offset-1">
    <img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" style="margin-top: 26px;" width="250" height="300"/>
  </div> 
  <div class="col-lg-6" >
  <h2>Относно</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus quis justo nec varius. Praesent lobortis, nulla nec egestas tempor, nunc nulla ultrices massa, vitae molestie felis massa quis metus. Sed ac pellentesque augue. Nulla in tellus erat. Quisque in rhoncus odio, et rhoncus dolor. Etiam rutrum hendrerit libero, ac laoreet lacus maximus eget. Mauris interdum justo tellus, luctus vulputate ipsum egestas vel. Phasellus non congue justo. Curabitur nisi turpis, facilisis ac pharetra eget, mattis eget ante. Fusce sed tempor sem, eu elementum mauris. In volutpat, nisi sit amet bibendum ultrices, justo quam sodales ligula, eget accumsan neque risus eget tellus. Nunc et metus aliquet, feugiat mi et, faucibus lectus. Vestibulum elementum lobortis ex, ut condimentum justo. Mauris in volutpat urna.

Donec sollicitudin nulla dui. Etiam sed arcu eu lorem suscipit iaculis. Sed eleifend consectetur sapien, quis finibus dui consectetur eu. Pellentesque sit amet eleifend erat, pulvinar viverra diam. Mauris scelerisque, nibh ut eleifend elementum, tortor enim cursus ligula, rhoncus suscipit magna orci nec augue. Duis dui nisi, cursus eget eros eget, bibendum tincidunt lacus. Vivamus vel diam consequat, euismod ex vitae, consectetur lacus. Suspendisse ac ex in nisl eleifend ultrices a ut leo. Phasellus aliquam nibh ex, in elementum lorem mollis quis. Phasellus pretium et sem vitae vulputate. In eget turpis consectetur, commodo felis ac, dictum augue. Praesent at aliquet ligula, sit amet finibus magna. Cras ornare nisi eu mi porta, at rhoncus velit maximus. Maecenas nec dolor placerat, rhoncus nunc eu, sollicitudin quam.
    </p>
  </div>
</div>