

<div class="row ">

   <div class="week-container">
   	<div class="col-md-12 col-sm-12">
   		<div class="row seven-cols">

<% Object.keys(model).forEach(function(propertyName) { %>
   			<div class="col-md-1 col-sm-1">

				<h4 class="weekDay"><%= propertyName %></h4>

        		<% model[propertyName].forEach(function(record){  %>
								<button type="button" value="<%= record.long %>" class="btn btn-success btn-block hourBtn"><%= record.short %></button>
						<% }); %>

      	</div>   

<% }); %>

   		</div>
   	</div>
   </div>
 </div>