<% layout('shared/layout') -%>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well text-align-center">
    <h2 class="steelblue margin-bottom-30">Съжаляваме, страницата която се опитвате да намерите не съществува</h2>
    <div class="control-group"> 
      <a href="/" class="btn btn-lg btn-success margin-top-10">Начало</a>
    </div>
  </div>
</div>