<!DOCTYPE html>
<html>
  <%- include head %>
<body>
  <%- include header %>

    <div class="background"></div>

    <section class="main-section">
       <%- body -%>
    </div>

  <%- include footer %>

</body>
</html>